# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "oatYZI7jwzB0csnf0+n7ZqKj0DzuFopPM63JWyRHLaX7DNE9pKlkzL11qV1MhqU35CKwbvKlf8B41S2bQFMSyFW9ZCPzu7kAmqxYVf07K7GXWV/JZHy10ltTP//EEzM+Vble4SlDu+7ietQXKsl18PfWzMVx6/IsDtaYX+SkHtSzV2p+vx78KymOMV/6fatkImD6b7ZCpXbCmR8ZLSqbKb2Q6EUTGyPIobhNkT7fqZus/hqNtaNGjDM2y4B2wjsc3/lHApuBTXs4axkWbPwUoO0/5MkuXTiMvQz95ZP2mj6oCBuD6LOaH5nIZVHtapE3HNsK4YKuCX+HpVLT2IXmF+e/gf9IS63Mdv2xIIIAQd2JsnwFn9nDj4chgXnPd50AI59DbSIpM8/FcrDVjLNCAvcY+x635jCMnjjQqt1dvCO15ouVe6cjtpyJbPUmEiIMRSDkq7vdRTQgjNUPLUzljmE7YsEFodfZzD/i2oDXo/GT5YFrexBxacETEIJz8iD8MLdaCxdM5CyEMtiE6NrxPdTbmIc/79hR6H7EjwHfZjJ7cnFAkOw6PvY97wVsS4zEQLzR4JfDyrHaQRGCatokxvjRo+xeQactedQVxdNiefjQDFU3cungDsqVrd50/dzy/3iW9l06TnOM3maXZMYYzter7NnrhhX5N+4CotL/r8Q="

matrix:
  include:
    - env: CONFIG=linux_aarch64_ UPLOAD_PACKAGES=True PLATFORM=linux-aarch64 DOCKER_IMAGE=quay.io/condaforge/linux-anvil-aarch64
      os: linux
      arch: arm64
      dist: focal

    - env: CONFIG=linux_ppc64le_ UPLOAD_PACKAGES=True PLATFORM=linux-ppc64le DOCKER_IMAGE=quay.io/condaforge/linux-anvil-ppc64le
      os: linux
      arch: ppc64le
      dist: focal

script:
  - export CI=travis
  - export GIT_BRANCH="$TRAVIS_BRANCH"
  - export FEEDSTOCK_NAME=$(basename ${TRAVIS_REPO_SLUG})
  - if [[ "${TRAVIS_PULL_REQUEST:-}" == "false" ]]; then export IS_PR_BUILD="False"; else export IS_PR_BUILD="True"; fi


  - if [[ ${PLATFORM} =~ .*linux.* ]]; then CONDA_FORGE_DOCKER_RUN_ARGS="--network=host --security-opt=seccomp=unconfined" ./.scripts/run_docker_build.sh; fi